<table class="horzMenu table table-borderless">
    <tr>
        <td class="horzMenu"><a class="horzMenu" href="{{site.baseurl}}/dbdocs/index.html"> Home</a></td>
        <td class="horzMenu"><a class="horzMenu" href="{{site.baseurl}}/dbdocs/tables/index.html">Tables</a></td>
        <td class="horzMenu"><a class="horzMenu" href="{{site.baseurl}}/dbdocs/schemas/index.html">Schemas</a></td>
        <td class="horzMenu"><a class="horzMenu" href="{{site.baseurl}}/dbdocs/diagrams/index.html">Diagrams</a></td>
        <td class="horzMenu"><a class="horzMenu" href="{{site.baseurl}}/dbdocs/foreignKeys/index.html">Foreign Keys</a></td>
        <td class="horzMenu"><a class="horzMenu" href="{{site.baseurl}}/dbdocs/indexes/index.html">Indexes</a></td>
    </tr>
</table>